<!doctype html>
<html><!-- InstanceBegin template="/Templates/temp3.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
    <!-- InstanceBeginEditable name="doctitle" -->
    <title>Create Account</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
initial-scale=1.0">
    <link rel="stylesheet" href="/css/account.css">
    <script defer src="../javascript/createaccount.js"></script>
    <!-- InstanceEndEditable -->
    <!-- InstanceBeginEditable name="head" -->
    <!-- InstanceEndEditable -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

</head>
<body style="font-family: 'Courier New'">

<%- include('partials/navbar') %>

<!-- InstanceBeginEditable name="EditRegion3" -->
<div class="body2">
    <div class="wrapper">
        <form id="account form">
            <h1>Account created, please log in</h1>
        </form>
    </div>
</div><!-- InstanceEndEditable -->

</body>

<!-- InstanceEnd --></html>

