<!doctype html>
<html><!-- InstanceBegin template="/Templates/temp3.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
    <!-- InstanceBeginEditable name="doctitle" -->
    <title>Create Account</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
initial-scale=1.0">
    <link rel="stylesheet" href="/css/account.css">
    <script defer src="../javascript/createaccount.js"></script>
    <!-- InstanceEndEditable -->
    <!-- InstanceBeginEditable name="head" -->
    <!-- InstanceEndEditable -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

</head>
<body style="font-family: 'Courier New'">

    <%- include('partials/navbar') %>

<!-- InstanceBeginEditable name="EditRegion3" -->
<div class="body2">
    <div class="wrapper">
        <form id="account form" action="/account" method="POST">
            <h1>Create Account</h1>
            <p><div id="error" style="font-size: 20px"></div></p>
            <div class="input-box">
                <input name="email" type="email" id="email" placeholder="Email" >
            </div>
            <div class="input-box">
                <input name="username" type="username" id="username" placeholder="Username" >
            </div>
            <div class="input-box">
                <input name="password" type="password" id="password" placeholder="Password" >
            </div>
            <div class="input-box">
                <input type="text" id="street" placeholder="Street (optional)">
            </div>
            <div class="input-box">
                <input type="text" id="city" placeholder="City (optional)">
            </div>
            <div class="input-box">
                <input type="text" id="state" placeholder="State (optional)">
            </div>
            <div class="input-box">
                <input type="text" id="zip" placeholder="Zip (optional)">
            </div>
            <div class="input-box">
                <input type="text" id="phone" placeholder="Phone (optional)">
            </div>

            <button type="submit" class="btn">Create Account</button>

        </form>
    </div>
</div><!-- InstanceEndEditable -->

</body>
<script type="text/javascript">
    const email=document.getElementById("email")
    const username=document.getElementById("username")
    const password=document.getElementById("password")
    const form=document.getElementById("account form")
    const errorElement=document.getElementById("error")
    const customerList = JSON.parse('<%- JSON.stringify(customerList) %>')

    form.addEventListener("submit", (e)=>{
        let message=[]
        if (email.value=='' || email.value==null){
            message.push("Email is required")
        }
        if (username.value=='' || username.value==null){
            message.push("Username is required")
        }
        if (password.value=='' || password.value==null){
            message.push("Password is required")
        }
        if (message.length>0){
            e.preventDefault()
            errorElement.innerText=message.join(', ')
        }
        else{
            let ii = 0;
            while (ii < customerList.length) {
                if ("email" in customerList[ii] && customerList[ii]["email"]==email.value){
                    message.push("email exists");
                    e.preventDefault()
                    errorElement.innerText=message.join(', ')
                    break;
                }
                if ("username" in customerList[ii] && customerList[ii]["username"]==username.value){
                    message.push("username exists");
                    e.preventDefault()
                    errorElement.innerText=message.join(', ')
                    break;
                }
                ii++;
            }
        }
        if (message.length==0){
            message.push("account created");
            e.preventDefault();
            errorElement.innerText=message.join(', ');
            window.location.href="/account"
        }

    })
    </script>

    <!-- InstanceEnd --></html>


