<!doctype html>
<html lang="en"><!-- InstanceBegin template="/Templates/temp3.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
    <meta charset="utf-8">
    <!-- InstanceBeginEditable name="doctitle" -->
    <link rel="stylesheet" href="../css/try.css">
    <title>Homepage</title>
    <!-- InstanceEndEditable -->
    <!-- InstanceBeginEditable name="head" -->
    <!-- InstanceEndEditable -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

</head>
<body style="font-family: 'Courier New'">

<%- include('partials/navbar') %>


<!-- InstanceBeginEditable name="EditRegion3" -->
<br><br>
<div class="text"><div style="font-size: 60px; text-align: center; font-weight: bolder">About XTND</div><br><div style="font-size: 40px; text-align: center;">Hand-Crafted, Eco-Friendly Accessories</div><b></b><h3 style="line-height: 1.8">XTND accessories specializes in creative, minimal, and modern fashion accessories that are designed to be lived in. Our collection of delicate luxury items is a fusion of traditional metalsmithing, contemporary trends, customizable designs, and alternative runway. Find the designs that match your style, all handmade by our talented team of artisans.</h3></div>
<br>

<div class="pics">
    <img src="../images/handmade.png" alt="employees handmaking jewelry at primary warehouse">
    <img src="../images/materials.jpg" alt="naturally occuring materials sourced for items">
    <img src="../images/designing.jpg" alt="our team of designers collaboriting on a hand-sketched sample">
</div>
<br><br><br>
<!-- InstanceEndEditable -->

</body>
<!-- InstanceEnd --></html>

